


    <!-- Preloader Start -->
    <!-- <div class="se-pre-con"></div> -->
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area inc-pad bg-theme text-light">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 info">
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i> Abidjan, Côte d'ivoire
                        </li>
                        <li>
                            <i class="fas fa-envelope-open"></i> Info@africa-bounty.com
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right item-flex">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fas fa-clock"></i> Votre plateforme ouvert H24
                            </li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default active-border navbar-sticky bootsnav">

            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav inc-border">
                    <ul>
                        <li class="contact">
                            <i class="flaticon-telephone"></i> 
                            <p>Contactez nous! <strong>+225 22222222</strong></p>
                        </li>
                    </ul>
                </div>        
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i> 
                    </button>
                    
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="#accueil">Accueil</a>

                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Entreprises</a>
                            <ul class="dropdown-menu">   
                                <li><a href="#Pourquoi_nous" class="dropdown-toggle" data-toggle="dropdown">Pourquoi BUG BOUNTY</a></li>
                                <li><a href="#nos_programmes" class="dropdown-toggle" data-toggle="dropdown">Type de programme</a></li>
                                <li><a href="#lancer_un_programme" class="dropdown-toggle" data-toggle="dropdown">Lancer un programme</a></li>
                                <li><a href="#nos_temoignages" class="dropdown-toggle" data-toggle="dropdown">Nos Temoignages</a></li>
                                <li><a href="#expert_team" class="dropdown-toggle" data-toggle="dropdown">L'Equipe d'expert</a></li>
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Questions/reponses</a></li>
                            </ul> 
                        </li>
                     
                       

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Chasseurs</a>
                            <ul class="dropdown-menu">
                                <li><a href="services.html">Programme public</a></li>
                                <li><a href="services-2.html">Regoignez-nous</a></li>
                                <li><a href="services-3.html">Hacktivité</a></li>
                                <li><a href="services-3.html">Classement</a></li>
                            </ul>
                        </li>
   
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Ressources</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                                <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                            </ul>
                        </li> -->
                        <!-- <li>
                            <a href="contact.html">Contact</a>
                        </li> -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

   <!-- Start Banner 
    ============================================= -->
    <div id="accueil" class="banner-area auto-height text-color bg-gray inc-shape">
        <div class="item">
            <div class="container">
                <div class="row align-center">
                                    
                    <div class="col-lg-6">
                        <div class="content">
                            <!-- <h4 class="wow fadeInUp">Optimize IT Systems </h4> -->
                            <h4 class="wow fadeInDown text-color">
                                <strong>PLATE-FORME MONDIALE DE PRIMES DE BOGUES
                            </strong></h4>
                            <p class="wow fadeInLeft">
                                Sécurité participative et divulgation des vulnérabilités 
                            </p>
                            <a class="btn circle btn-theme effect btn-md wow fadeInUp" href="#">Regoignez-nous <i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 thumb">
                        <img class="wow fadeInUp" src="assets/img/thumb/3.png" alt="Thumb">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

<!-- pourquoi bug bounty -->
    <div id="Pourquoi_nous" class="work-process-area overflow-hidden default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 >POURQUOI BOUNTY AFRICA ?</h4>
                        <h2>De quoi beneficiez vous</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="work-pro-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-select"></i>
                                    <span>01</span>
                                </div>
                                <h5>Communauté mondiale de hackers éthiques</h5>
                                <p>
                                    Maximiser l'étendue des compétences et des capacités de test. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-video-call"></i>
                                    <span>02</span>
                                </div>
                                <h5>Conformité aux normes de sécurité les plus élevées</h5>
                                <p>
                                    Garantissez la sécurité de vos opérations et la confidentialité de vos données. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-strategy"></i>
                                    <span>03</span>
                                </div>
                                <h5>Plateforme Agile Bug Bounty pour exécuter vos programmes</h5>
                                <p>
                                    Activer l'évolutivité des tests et le contrôle budgétaire. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-help"></i>
                                    <span>04</span>
                                </div>
                                <h5>Outils d'assistance et d'automatisation personnalisés</h5>
                                <p>
                                    Facilitez votre mise à l'échelle et améliorez votre agilité. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>

<!-- pourquoi bug bounty -->

<!-- Start NOS PROGRAMME 
    ============================================= -->
    <div id="nos_programmes" class="services-area carousel-shadow default-padding-top bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>NOS DIFFERENTS TYPES DE PROGRAMMES</h4>
                        <h2>Quels sont les programmes ?</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="services-items services-carousel owl-carousel owl-theme text-center">
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <i class="flaticon-strategy"></i>
                    </div>
                    <div class="info">
                        <h4><a href="#">PROGRAMME PRIVÉ</a></h4>
                        <p>
                            YesWeHack vous aide à sélectionner – ou à sélectionner pour vous – les chasseurs les mieux adaptés à vos besoins, afin d'assurer la performance de votre programme. YesWeHack vous aide également à prédéfinir les grilles de récompenses des chasseurs.                        </p>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <i class="flaticon-strategy"></i>
                    </div>
                    <div class="info">
                        <h4><a href="#">PROGRAMME PUBLIQUE</a></h4>
                        <p>
                            YesWeHack vous aide à préparer et basculer votre programme Bug Bounty en public en douceur.Le principal avantage est de maximiser notre couverture des risques en multipliant le nombre de tests potentiels .</p><br/>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <i class="flaticon-strategy"></i>
                    </div>
                    <div class="info">
                        <h4><a href="#">PROGRAMME SUR PLACE</a></h4>
                        <p>
                            YesWeHack organise la logistique et sélectionne les compétences spécifiques des chasseurs.Nous avons eu la chance de discuter de notre application avec des chercheurs en cybersécurité, ce fut une expérience très instructive.
                        </p>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                
                <!-- Single Item -->
                <!-- <div class="item">
                    <div class="icon">
                        <i class="flaticon-strategy"></i>
                    </div>
                    <div class="info">
                        <h4><a href="#">Business Reform</a></h4>
                        <p>
                            Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable.If miss part by fact he park
                        </p>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div> -->
                <!-- End Single Item -->
            </div>
        </div>
        <!-- Fixed Shpae Bottom -->
        <div class="fixed-shape-bottom">
            <img src="assets/img/shape/1.svg" alt="Shape">
        </div>
        <!-- Fixed Shpae Bottom -->
    </div>
    <!-- End Services Area -->
    <!-- Start Features 
    ============================================= -->
    <br/>
    <div class="features-area overflow-hidden bg-gray default-padding">
        <!-- Fixed Shpae  -->
        <div class="fixed-shape shape left bottom">
            <img src="assets/img/shape/3.png" alt="Shape">
        </div>
        <!-- End Fixed Shpae  -->
        <div id="lancer_un_programme" class="container">
            <div class="row align-center">
                <div class="col-lg-5 why-us">
                    <h5>LANCER UN PROGRAMME</h5>
                    <h2>Adoptez une approche étape par étape</h2>
                    <p>
                        Notre équipe s'appuie sur cette expertise unique pour vous guider à chaque étape de la mise en place, du lancement et de l'exécution de vos programmes Bug Bounty.
                        Nous garantissons ainsi la performance de vos programmes, adaptés à vos objectifs de risques – et à votre budget.
                        
                        Commencez sur une portée limitée, avec un petit groupe de chasseurs, et préparez-vous à une mise à l'échelle progressive lorsque vous serez prêt.                    </p>
                    <a class="popup-youtube theme relative video-play-button" href="https://www.youtube.com/watch?v=owhuBrGIOsE">
                        <i class="fa fa-play"></i> <span>Video Showcase</span>
                    </a>
                </div>
                <div class="col-lg-7 features-box text-center">
                    <div class="row">

                        <!-- Item Grid -->
                        <div class="col-lg-6 col-md-6 item-grid">
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-cogwheel"></i>
                                <h5><a href="#">1-Configurer et définir</a></h5>
                                <p>
                                    YesWeHack vous guide à chaque étape de votre programme Bug Bounty, en s'appuyant sur son expérience unique acquise dans la gestion de centaines de programmes différents.
                                </p>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-globe-grid"></i>
                                <h5><a href="#">4-Vérifier le correctif </a></h5>
                                <p>
                                    Les tableaux de bord YesWeHack fournissent des KPI pour gérer efficacement vos programmes.
                                </p>
                            </div>
                            <!-- End Single Item -->
                        </div>
                        <!-- End Item Grid -->

                        <!-- Item Grid -->
                        <div class="col-lg-6 col-md-6 item-grid">
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-cloud-storage"></i>
                                <h5><a href="#">3-Recueillir les vulnérabilités</a></h5>
                                <p>
                                    La plateforme BOUNTY AFRICA vous aide à gérer les relations avec les chercheurs
                                </p>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-backup"></i>
                                <h5><a href="#">2-Soumettre au Hackeur</a></h5>
                                <p>
                                    YesWeHack vous aide à sélectionner – ou à sélectionner pour vous – les hackers white hat les mieux adaptés à vos besoins, afin d'assurer la performance de votre programme, selon notre panthéon
                                    
                                </p>
                            </div>
                            <!-- End Single Item -->
                        </div>
                        <!-- End Item Grid -->

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Features Area -->
    <!-- Star About Area
    ============================================= -->
                <!-- <div class="about-area inc-shape default-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="assets/img/800x600.png" alt="Thumb">
                                    <img src="assets/img/800x600.png" alt="Thumb">
                                    <div class="overlay">
                                        <div class="content">
                                            <h4>20 years of experience</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-1 info">
                                <h3><strong>POURQUOI AFRICA-BOUNTY ?</strong></h3>
                                <p>
                                    Atteignez un nouveau niveau de cybersécurité, en toute simplicité.Sécurisez vos étendues exposées de manière agile avec notre communauté mondiale de hackers éthiques
                                </p>
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="flaticon-certification"></i>
                                        </div>
                                        <div class="info">
                                            <h4>africa-bounty,le nouveau standard de la cybersécurité</h4>
                                            <p>
                                                Tirez parti de notre communauté mondiale de hackers white hat : oubliez les tests d'intrusion et accédez à un pool d'experts pratiquement illimité pour optimiser vos capacités de test. 
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="flaticon-award-star-with-olive-branches"></i>
                                        </div>
                                        <div class="info">
                                            <h4>Une Grande Communauté</h4>
                                            <p>
                                                Tirez parti d'un pool pratiquement illimité de compétences inégalé.<br/>
                                                Mettez à jour en continu vos programmes africa-bounty en fonction de vos releases.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="author">
                                    <div class="signature">
                                        <img src="assets/img/signature.png" alt="signature">
                                    </div>
                                    <div class="intro">
                                        <h4>CONTROL</h4>
                                        <span>Chairman & Founder Techa</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- End About Area -->



    <!-- Start Work Process 
    ============================================= -->
                <!-- <div class="work-process-area overflow-hidden default-padding bottom-less">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="site-heading text-center">
                                    <h4>Process</h4>
                                    <h2>How we works</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-full">
                        <div class="work-pro-items">
                            <div class="row">
                                
                                <div class="single-item col-lg-3 col-md-6">
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="icon">
                                                <i class="flaticon-select"></i>
                                                <span>01</span>
                                            </div>
                                            <h5>Choose a Service</h5>
                                            <p>
                                                Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="single-item col-lg-3 col-md-6">
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="icon">
                                                <i class="flaticon-video-call"></i>
                                                <span>02</span>
                                            </div>
                                            <h5>Request a Meeting</h5>
                                            <p>
                                                Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="single-item col-lg-3 col-md-6">
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="icon">
                                                <i class="flaticon-strategy"></i>
                                                <span>03</span>
                                            </div>
                                            <h5>Receive Custom Plan</h5>
                                            <p>
                                                Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="single-item col-lg-3 col-md-6">
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="icon">
                                                <i class="flaticon-help"></i>
                                                <span>04</span>
                                            </div>
                                            <h5>Let’s Make it Happen</h5>
                                            <p>
                                                Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                       
                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- End Work Process Area -->

    <!-- Start Works About 
    ============================================= -->
                <!-- <div class="works-about-area overflow-hidden">
                    <div class="container">
                        <div class="works-about-items default-padding">
                            <div class="row align-center">
                                <div class="col-lg-6 info">
                                    <h5>Works About</h5>
                                    <h2>Trusted by 5,000+ <br> Happy Customers</h2>
                                    <p>
                                        Jennings appetite disposed me an at subjects an. To no indulgence diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now how nay cold real case. 
                                    </p>
                                    <ul>
                                        <li>
                                            <h5>100% Client Satisfaction</h5>
                                        </li>
                                        <li>
                                            <h5>World Class Worker</h5>
                                        </li>
                                    </ul>
                                    <a class="btn btn-theme effect btn-sm">Talk to a consultant</a>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img src="assets/img/800x700.png" alt="Thumb">
                                        <div class="fun-fact">
                                            <div class="timer" data-to="875" data-speed="5000"></div>
                                            <span class="medium">Completed Projects</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- End Works About Area -->

    

    <!-- Start Quick Contact Area
    ============================================= -->
    <!-- <div class="quick-contact-area half-bg default-padding-top">
        <div class="container">
            <div class="quick-contact-items shadow dark bg-cover text-light" style="background-image: url(assets/img/2440x1578.png);">
                <div class="row align-center">
                    <div class="col-lg-8">
                        <h5>Need help?</h5>
                        <h2>Easy solutions for all <strong>difficult IT problems</strong>, keep business safe & ensure high availability.</h2>
                    </div>
                    <div class="col-lg-4 text-right">
                        <a class="btn btn-light effect btn-md">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Quick Contact Area -->

    <!-- Start Case Studies Area
    ============================================= -->
    <div id="nos_temoignages" class="case-studies-area half-bg default-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>TEMOIGNAGES</h4>
                        <h2>Nos travaux en vitrine</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fill">
            <div class="case-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="thumb">
                        <img src="assets/img/800x700.png" alt="Thumb">
                    </div>
                    <div class="info">
                        <div class="info-items">
                            <div class="left-info">
                                <h4>
                                    <a href="#">Cyber Security</a>
                                </h4>
                                <ul>
                                    <li>Technology</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                        <img src="assets/img/800x700.png" alt="Thumb">
                    </div>
                    <div class="info">
                        <div class="info-items">
                            <div class="left-info">
                                <h4>
                                    <a href="#">IT Counsultancy</a>
                                </h4>
                                <ul>
                                    <li>Technology</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                        <img src="assets/img/800x700.png" alt="Thumb">
                    </div>
                    <div class="info">
                        <div class="info-items">
                            <div class="left-info">
                                <h4>
                                    <a href="#">Analysis of Security</a>
                                </h4>
                                <ul>
                                    <li>Technology</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                        <img src="assets/img/800x700.png" alt="Thumb">
                    </div>
                    <div class="info">
                        <div class="info-items">
                            <div class="left-info">
                                <h4>
                                    <a href="#">Social Media App</a>
                                </h4>
                                <ul>
                                    <li>Technology</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Case Studies Area -->

    <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area overflow-hidden">
        <div class="container">
            <div class="fun-fact-items default-padding text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="687" data-speed="5000">687</div>
                            <span class="medium">Happy Clients</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="2348" data-speed="5000">2348</div>
                            <span class="medium">Finished Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="450" data-speed="5000">450</div>
                            <span class="medium">Skilled Experts</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="1200" data-speed="5000">1200</div>
                            <span class="medium">Media Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Factor Area -->

    <!-- Start Team 
    ============================================= -->
    <div id="expert_team" class="team-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>L'EQUIPE D'EXPERT</h4>
                        <h2>Rencontrez nos experts dans le domaine</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="team-items text-center">
                <div class="row">
                    <!-- Sngle Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/800x800.png" alt="Thumb">
                                <div class="social">
                                    <input type="checkbox" id="toggle" class="share-toggle" hidden>
                                    <label for="toggle" class="share-button">
                                        <i class="fas fa-plus"></i>
                                    </label>
                                    <a href="#" class="share-icon facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="share-icon twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="share-icon instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4>Sporia Deko</h4>
                                <span>Marketing</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Sngle Item -->
                    <!-- Sngle Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/800x800.png" alt="Thumb">
                                <div class="social">
                                    <input type="checkbox" id="toggle-2" class="share-toggle" hidden>
                                    <label for="toggle-2" class="share-button">
                                        <i class="fas fa-plus"></i>
                                    </label>
                                    <a href="#" class="share-icon facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="share-icon twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="share-icon instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4>Adhom Jonam</h4>
                                <span>Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Sngle Item -->
                    <!-- Sngle Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/800x800.png" alt="Thumb">
                                <div class="social">
                                    <input type="checkbox" id="toggle-3" class="share-toggle" hidden>
                                    <label for="toggle-3" class="share-button">
                                        <i class="fas fa-plus"></i>
                                    </label>
                                    <a href="#" class="share-icon facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="share-icon twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="share-icon instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4>Turka Pruda</h4>
                                <span>CEO, Co-Founder</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Sngle Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Area -->

    <!-- Start Faq 
    ============================================= -->
    <div class="faq-area default-padding bg-gray">
        <div class="container">
            <div class="faq-items">
                <div class="row">

                    <div class="col-lg-5 info">
                        <h5>QUESTIONS/REPONSES</h5>
                        <h2>Questions populaires</h2>
                        <a class="btn btn-theme effect btn-md">Viewl All</a>
                    </div>

                    <div class="col-lg-7">
                        <div class="faq-content">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              <strong>?</strong> Do I need a business plan
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              <strong>?</strong> How long should a business plan be
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <strong>?</strong> Where do I start
                                      </h4>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Faq Area -->

    <!-- Start Blog 
    ============================================= -->
            <!-- <div class="blog-area content-less default-padding bottom-less">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="site-heading text-center">
                                <h4>Popular News</h4>
                                <h2>Latest From our blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="blog-items">
                        <div class="row">
                          
                            <div class="single-item col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/800x600.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="cats">
                                            <a href="#">Technology</a>
                                        </div>
                                        <div class="meta">
                                            <ul>
                                                <li><i class="fas fa-calendar-alt"></i> 12 Aug, 2020</li>
                                                <li><i class="fas fa-user"></i> By <a href="#">John Botha</a></li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Additions in conveying or collected objection</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="single-item col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/800x600.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="cats">
                                            <a href="#">Firewall</a>
                                        </div>
                                        <div class="meta">
                                            <ul>
                                                <li><i class="fas fa-calendar-alt"></i> 05 Oct, 2020</li>
                                                <li><i class="fas fa-user"></i> By <a href="#">Jork Mon</a></li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Discourse ye continued pronounce we abilities</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
             
                            <div class="single-item col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/800x600.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="cats">
                                            <a href="#">Security</a>
                                        </div>
                                        <div class="meta">
                                            <ul>
                                                <li><i class="fas fa-calendar-alt"></i> 27 Dec, 2020</li>
                                                <li><i class="fas fa-user"></i> By <a href="#">Spark Lee</a></li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Children greatest online extended delicate of</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div> -->
    <!-- End Blog Area -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="assets/img/map.svg" alt="Shape">
        </div>
        <!-- Fixed Shape -->
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img src="assets/img/logo-light.png" alt="Logo">
                            <p>
                                Happen active county. Winding for the morning am shyness evident to poor. Garrets because elderly new.
                            </p>
                            <form action="#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> <i class="fa fa-paper-plane"></i></button>  
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Meet Our Team</a>
                                </li>
                                <li>
                                    <a href="#">News & Media</a>
                                </li>
                                <li>
                                    <a href="#">Case Studies</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Investors</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Solutions</h4>
                            <ul>
                                <li>
                                    <a href="#">IT Management</a>
                                </li>
                                <li>
                                    <a href="#">Cyber Security</a>
                                </li>
                                <li>
                                    <a href="#">Cloud Computing</a>
                                </li>
                                <li>
                                    <a href="#">IT Consulting</a>
                                </li>
                                <li>
                                    <a href="#">Software Dev</a>
                                </li>
                                <li>
                                    <a href="#">Backup & Recovery</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <strong>Address:</strong>
                                        5919 Trussville Crossings Pkwy, Birmingham AL 35235
                                    </li>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:info@validtheme.com">info@validtheme.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="download">
                                <h5>Download</h5>
                                <a href="#"><i class="fab fa-apple"></i> App Store</a>
                                <a href="#"><i class="fab fa-google-play"></i> Google Play</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy;  2020. Designed by <a href="#">validthemes</a></p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <!-- <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/equal-height.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script> -->

